@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #676767;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 91;
  width: 100%;
  background-color: transparent;
  height: 80px;
  padding: 24px 40px 31px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header__content {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1370px;
  height: 100%;
}

.header__left-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 100;
  margin: 0px 45px 0px 0px;
}

.header__logo-link {
  color: #2b2b32;
  font-size: 24px;
  font-weight: 400;
}

.header__logo-link_f {
  font-size: 30px;
}

.header__logo-link span {
  background: url("../img/header/logo-img.svg") left no-repeat;
  padding: 0px 0px 0px 35px;
  color: #505050;
}

.header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__enter-button {
  position: relative;
  z-index: 100;
  color: #d9c28f;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.8px;
  border-radius: 2px;
  border: 1px solid rgba(221, 200, 153, 0.05);
  width: 100%;
  max-width: 99px;
  padding: 10px 40px 10px 17px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__enter-button span {
  background: url("../img/header/log-in.svg") right no-repeat;
  padding: 0px 20px 0px 0px;
}

.header__enter-button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: -o-linear-gradient(165.05deg, #efc066 9.09%, #f7d275 64.95%);
  background: linear-gradient(284.95deg, #efc066 9.09%, #f7d275 64.95%);
  -webkit-box-shadow: 0px 10px 46px rgba(204, 182, 132, 0.3);
          box-shadow: 0px 10px 46px rgba(204, 182, 132, 0.3);
  color: #fff;
}

.header__enter-button:hover span {
  background: url("../img/header/log-inW.svg") right no-repeat;
  padding: 0px 20px 0px 0px;
}

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/

.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(43, 43, 43, 0.8);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */

.md-content {
  color: #fff;
  background: black;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.md-content > div {
  padding: 15px 40px 30px;
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}

.md-content > div p {
  margin: 0;
  padding: 10px 0;
}

.md-content > div ul {
  margin: 0;
  padding: 0 0 30px 20px;
}

.md-content > div ul li {
  padding: 5px 0;
}

.md-content button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */

.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Effect 2: Slide from the right */

.md-effect-2 .md-content {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect-2 .md-content {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* Effect 3: Slide from the bottom */

.md-effect-3 .md-content {
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* Effect 4: Newspaper */

.md-effect-4 .md-content {
  -webkit-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
  opacity: 0;
}

.md-show.md-effect-4 ~ .md-overlay,
.md-effect-4 .md-content {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.md-show.md-effect-4 .md-content {
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
}

/* Effect 5: fall */

.md-effect-5.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-5 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(600px) rotateX(20deg);
  -ms-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
}

.md-show.md-effect-5 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateZ(0px) rotateX(0deg);
  -ms-transform: translateZ(0px) rotateX(0deg);
  transform: translateZ(0px) rotateX(0deg);
  opacity: 1;
}

/* Effect 6: side fall */

.md-effect-6.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-6 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
  -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;
}

.md-show.md-effect-6 .md-content {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
  -ms-transform: translate(0%) translateZ(0) rotate(0deg);
  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
}

/* Effect 7:  slide and stick to top */

.md-effect-7 {
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.md-effect-7 .md-content {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.md-show.md-effect-7 .md-content {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  border-radius: 0 0 3px 3px;
  opacity: 1;
}

/* Effect 8: 3D flip horizontal */

.md-effect-8.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-8 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-70deg);
  -ms-transform: rotateY(-70deg);
  transform: rotateY(-70deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.md-show.md-effect-8 .md-content {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
}

/* Effect 9: 3D flip vertical */

.md-effect-9.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-9 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.md-show.md-effect-9 .md-content {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

/* Effect 10: 3D sign */

.md-effect-10.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-10 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-60deg);
  -ms-transform: rotateX(-60deg);
  transform: rotateX(-60deg);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-10 .md-content {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

/* Effect 11: Super scaled */

.md-effect-11 .md-content {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Effect 12:  Just me */

.md-effect-12 .md-content {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
  background: #e74c3c;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
  background: transparent;
}

.md-show.md-effect-12 .md-content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* Effect 13: 3D slit */

.md-effect-13.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-13 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-3000px) rotateY(90deg);
  -ms-transform: translateZ(-3000px) rotateY(90deg);
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
}

.md-show.md-effect-13 .md-content {
  -webkit-animation: slit 0.7s forwards ease-out;
  animation: slit 0.7s forwards ease-out;
}

@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    opacity: 0.5;
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
            transform: translateZ(-250px) rotateY(89deg);
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
            transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}

/* Effect 14:  3D Rotate from bottom */

.md-effect-14.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-14 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(100%) rotateX(90deg);
  -ms-transform: translateY(100%) rotateX(90deg);
  transform: translateY(100%) rotateX(90deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.md-show.md-effect-14 .md-content {
  -webkit-transform: translateY(0%) rotateX(0deg);
  -ms-transform: translateY(0%) rotateX(0deg);
  transform: translateY(0%) rotateX(0deg);
  opacity: 1;
}

/* Effect 15:  3D Rotate in from left */

.md-effect-15.md-modal {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.md-effect-15 .md-content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  transform: translateZ(100px) translateX(-30%) rotateY(90deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
      transform-origin: 0 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-15 .md-content {
  -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
  transform: translateZ(0px) translateX(0%) rotateY(0deg);
  opacity: 1;
}

/* Effect 16:  Blur */

.md-show.md-effect-16 ~ .md-overlay {
  background: rgba(180, 46, 32, 0.5);
}

.md-show.md-effect-16 ~ .container {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

.md-effect-16 .md-content {
  -webkit-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
  opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* Effect 17:  Slide in from bottom with perspective on container */

.md-show.md-effect-17 ~ .container {
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.md-show.md-effect-17 ~ .container,
.md-show.md-effect-17 ~ .md-overlay {
  -webkit-transform: rotateX(-2deg);
  -ms-transform: rotateX(-2deg);
  transform: rotateX(-2deg);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.md-effect-17 .md-content {
  opacity: 0;
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
}

.md-show.md-effect-17 .md-content {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.3s 0.2s;
  -o-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
}

/* Effect 18:  Slide from right with perspective on container */

.md-show.md-effect-18 ~ .container {
  height: 100%;
  overflow: hidden;
}

.md-show.md-effect-18 ~ .md-overlay {
  background: rgba(143, 27, 15, 0.8);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.md-show.md-effect-18 ~ .container,
.md-show.md-effect-18 ~ .md-overlay {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 0% 50%;
  -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
  transform-style: preserve-3d;
  -ms-transform-origin: 0% 50%;
      transform-origin: 0% 50%;
  animation: rotateRightSideFirst 0.5s forwards ease-in;
}

@-webkit-keyframes rotateRightSideFirst {
  50% {
    -webkit-transform: translateZ(-50px) rotateY(5deg);
    -webkit-animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateZ(-200px);
  }
}

@keyframes rotateRightSideFirst {
  50% {
    -webkit-transform: translateZ(-50px) rotateY(5deg);
            transform: translateZ(-50px) rotateY(5deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateZ(-200px);
            transform: translateZ(-200px);
  }
}

.md-effect-18 .md-content {
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  opacity: 0;
}

.md-show.md-effect-18 .md-content {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.5s 0.1s;
  -o-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}

/* Effect 19:  Slip in from the top with perspective on container */

.md-show.md-effect-19 ~ .container {
  height: 100%;
  overflow: hidden;
}

.md-show.md-effect-19 ~ .md-overlay {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.md-show.md-effect-19 ~ .container,
.md-show.md-effect-19 ~ .md-overlay {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: OpenTop 0.5s forwards ease-in;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 50% 100%;
  -moz-animation: OpenTop 0.5s forwards ease-in;
  transform-style: preserve-3d;
  -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
  animation: OpenTop 0.5s forwards ease-in;
}

@-webkit-keyframes OpenTop {
  50% {
    -webkit-transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
  }
}

@keyframes OpenTop {
  50% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.md-effect-19 .md-content {
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  opacity: 0;
}

.md-show.md-effect-19 .md-content {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: all 0.5s 0.1s;
  -o-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}

.page__oll-modal {
  padding: 130px 0px 50px 0px;
}

.modal1 {
  background-color: green;
  width: 100%;
  max-width: 200px;
  max-height: 60px;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
}

.modal2 {
  background-color: #c7ac11;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.modal3 {
  background-color: #c71148;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.modal4 {
  background-color: #54c711;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.modal5 {
  background-color: #9911c7;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.modal6 {
  background-color: #11c1c7;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.modal7 {
  background-color: #11c74e;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.modal8 {
  background-color: #c4c711;
  width: 100%;
  max-height: 60px;
  max-width: 200px;
  height: 100%;
  padding: 10px 0px;
  color: #ffffff;
  border-radius: 5px;
}

.header__logo_modal {
  color: #dc1313 !important;
  font-size: 31px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 0px 25px 0px;
}

.header__logo_modal2 {
  color: #dc1313 !important;
  font-size: 31px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px 0px 35px 0px;
}

.header__logo-link_m span {
  color: #ffffff;
}

.md-content > div {
  padding: 0px 0px 0px 0px;
}

.md-content1 {
  width: 100%;
  max-width: 370px;
  padding: 0px 0px 0px 0px !important;
  border-radius: 6px;
  background-color: #ffffff;
}

.md-content1__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.md-content1__circle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78px;
  height: 78px;
  border-radius: 90px;
  background-color: #a1d240;
  margin: 0px 0px 21px 0px;
}

.md-content1__result {
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  margin: 0px 0px 6px 0px;
  text-align: center;
}

.md-content1__congratulation {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 300;
  margin: 0px 0px 25px 0px;
  text-align: center;
}

.md-content1__green-text {
  color: #8ba75e;
  font-size: 16px;
  font-weight: 400;
}

.md-content1__title-row {
  width: 100%;
  padding: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.md-content1__name {
  color: #d9c28f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3.2px;
}

.md-content1__button-enter {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 6px 0px;
  max-width: 92px;
  border-radius: 4px;
  background-color: #d9c28f;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.md-content1__button-enter span {
  background: url("../img/header/user.svg") left no-repeat;
  padding: 0px 0px 0px 20px;
}

.md-content1__button-enter:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #d5b369;
}

.md-content1__button-enter_registration {
  max-width: 147px;
}

.md-content1__button-enter_registration span {
  background: url("../img/modal/user_plus.svg") left no-repeat;
  padding: 0px 0px 0px 20px;
}

.md-content1__body {
  padding: 24px;
}

.md-content1__label {
  color: rgba(0, 0, 0, 0.2);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 0px 0px 11px 0px;
}

.md-content1__input {
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 25px 0px;
  border-bottom: 1px solid rgba(217, 194, 143, 0.3);
}

.md-content1__input._focus {
  border-bottom: 1px solid #d9c28f;
  color: rgba(0, 0, 0, 0.8);
}

.md-content1__password {
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 25px 0px;
  border-bottom: 1px solid rgba(217, 194, 143, 0.3);
}

.md-content1__password._focus {
  border-bottom: 1px solid #d9c28f;
  color: rgba(0, 0, 0, 0.8);
}

.md-content1__button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.1px;
  width: 100%;
  padding: 17px 0px;
  border-radius: 6px;
  background-color: #8ba75e;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.md-content1__button_ok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 81px;
  padding: 12px 0px;
}

.md-content1__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #7b9d45;
}

.md-content1__checkbox {
  margin: 12px 0px 0px 0px;
}

.md-content1__captcha {
  margin: 15px 0px;
}

.checkbox__text {
  color: #979797;
  font-size: 14px;
  font-weight: 400;
}

.checkbox__text a {
  color: #8ba75e;
  text-decoration: none;
}

.md-content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 85px 21px 16px !important;
  width: 100%;
  height: 59px;
  max-width: 269px;
  background-color: #dd7777;
  font-size: 12px;
  border-radius: 0;
}

.md-content3__body {
  color: #ffffff;
  font-size: 12px;
  width: 100%;
  max-width: 269px;
  max-height: 59px;
  background-color: #dd7777;
}

.md-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 17px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 16px;
}

.md-close_non {
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0);
}

.md-content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 85px 21px 16px !important;
  width: 100%;
  height: 59px;
  max-width: 269px;
  background-color: #8ba75e;
  font-size: 12px;
  border-radius: 0;
}

.md-content4__body4 {
  color: #ffffff;
  font-size: 12px;
  width: 100%;
  max-width: 269px;
  max-height: 59px;
  background-color: #8ba75e;
}

.md-content5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 85px 21px 16px !important;
  width: 100%;
  height: 59px;
  max-width: 269px;
  background-color: #7588cd;
  font-size: 12px;
  border-radius: 0;
}

.md-content5__body5 {
  color: #ffffff;
  font-size: 12px;
  width: 100%;
  max-width: 269px;
  max-height: 59px;
  background-color: #7588cd;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sec1 {
  overflow: hidden;
  position: relative;
}

.sec1__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sec1__bg img {
  width: 100%;
  height: 100%;
}

.sec1__body {
  position: relative;
  z-index: 10;
  padding: 221px 0px 209px 0px;
}

.sec1__wrapp {
  position: relative;
  z-index: 10;
}

.sec1__title-block {
  position: relative;
  margin: 0px 0px 26px 0px;
}

.sec1__near-title {
  position: absolute;
  top: 30px;
  left: 376px;
  max-width: 260px;
  font-weight: 300;
  font-size: 20px;
  line-height: 140.52%;
  letter-spacing: -0.03em;
}

.sec1__near-title span {
  color: #afda5a;
}

.sec1__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 432px;
}

.sec1__invest-btn {
  margin: 0px 19px 0px 0px;
}

.sec1__tarif-btn {
  max-width: 160px;
  color: #585858;
}

.sec1__main-pic {
  position: absolute;
  top: 100px;
  right: -760px;
}

.sec1__main-pic img {
  width: 90%;
  height: 100%;
}

.btn-gold {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  border-radius: 2px;
  border: 1px solid rgba(221, 200, 153, 0.2);
  background: -o-linear-gradient(286.7deg, #b4de54 10.78%, #9ecb68 119.59%), #d9c28f;
  background: linear-gradient(163.3deg, #b4de54 10.78%, #9ecb68 119.59%), #d9c28f;
  -webkit-box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
          box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
}

.btn-gold:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: -o-linear-gradient(286.7deg, #bdf53c 10.78%, #9ecb68 119.59%), #d9c28f;
  background: linear-gradient(163.3deg, #bdf53c 10.78%, #9ecb68 119.59%), #d9c28f;
  -webkit-box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
          box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
}

.btn-inherit {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  padding: 20px 0px;
  background-color: inherit;
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.8px;
  border-radius: 2px;
  border: 1px solid #b2dc57;
}

.btn-inherit span {
  background: url("../img/sec1/btn-arrow.svg") right no-repeat;
  padding: 0px 20px 0px 0px;
}

.btn-inherit:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: -o-linear-gradient(286.7deg, #b4de54 10.78%, #9ecb68 119.59%), #d9c28f;
  background: linear-gradient(163.3deg, #b4de54 10.78%, #9ecb68 119.59%), #d9c28f;
  -webkit-box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
          box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
  color: #fff;
}

.btn-inherit:hover span {
  background: url("../img/sec1/btn-arrow-white.svg") right no-repeat;
  padding: 0px 20px 0px 0px;
}

.big-title {
  font-size: 112px;
  letter-spacing: -0.06em;
  color: #676767;
  max-width: 435px;
}

.big-title span {
  color: #afda5a;
}

.sec2 {
  padding: 79px 0px 300px 0px;
  background: -o-linear-gradient(241.82deg, #ffffff 25.84%, #f0f0f0 46.08%, #f0f0f0 46.09%, #fbf9f7 63.39%, #fbfaf8 79.58%, #f7f7f7 96.52%);
  background: linear-gradient(208.18deg, #ffffff 25.84%, #f0f0f0 46.08%, #f0f0f0 46.09%, #fbf9f7 63.39%, #fbfaf8 79.58%, #f7f7f7 96.52%);
}

.sec2__title {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -0.06em;
  color: #676767;
  margin: 0px 0px 51px 0px;
}

.sec2__wrapp-about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 157px 0px;
}

.sec2__emblem {
  width: 100%;
  max-width: 170px;
  border: 1px solid #e1e1e1;
  border-radius: 13px;
  max-height: 270px;
  margin: 0px 35px 0px 0px;
}

.sec2__emblem-pic img {
  width: 100%;
  border-radius: 13px 13px 0 0;
}

.sec2__emblem-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 0px;
}

.sec2__emblem-text span {
  font-size: 18px;
  line-height: 22px;
  color: #afda5a;
  max-width: 86px;
}

.statistic-sec2 {
  margin: 0px 112px 0px 0px;
  width: 100%;
  max-width: 365px;
  max-height: 270px;
  background: -o-linear-gradient(286.7deg, #b4de54 10.78%, #9ecb68 119.59%), #d9c28f;
  background: linear-gradient(163.3deg, #b4de54 10.78%, #9ecb68 119.59%), #d9c28f;
  -webkit-box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
          box-shadow: 0px 10px 46px rgba(166, 210, 97, 0.5);
  border: 1px solid rgba(207, 207, 207, 0.2);
  border-radius: 2px;
}

.statistic-sec2__top-row {
  padding: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistic-sec2__label {
  font-size: 14px;
  color: #f9f5ee;
  margin: 0px 0px 5px 0px;
}

.statistic-sec2__text {
  font-size: 24px;
  line-height: 44px;
  color: #ffffff;
}

.statistic-sec2__bottom-row {
  padding: 30px 24px;
}

.gold-num {
  font-size: 48px;
}

.gold-litlle {
  font-size: 14px;
}

.gold-usd {
  font-size: 12px;
  font-weight: 400;
  vertical-align: top;
  line-height: 12px;
}

.private-info {
  width: 100%;
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.private-info__foto {
  position: absolute;
  top: 0;
  left: -30%;
}

.private-info__info-column {
  position: relative;
  width: 100%;
  max-width: 495px;
  padding: 31px 76px 53px 117px;
  border: 2px solid rgba(217, 194, 143, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.private-info__invite {
  font-size: 20px;
  color: #a6a49d;
  margin: 0px 0px 5px 0px;
}

.private-info__nickname {
  font-size: 28px;
  color: #2b2b32;
  margin: 0px 0px 20px 0px;
}

.private-info__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.private-info__sub-column {
  width: 100%;
  min-width: 70px;
  margin: 0px 0px 30px 0px;
}

.private-info__label {
  font-size: 12px;
  color: #a6a49d;
  margin: 0px 0px 3px 0px;
}

.private-info__text {
  font-size: 18px;
  color: #575757;
}

.private-info__text span {
  font-size: 10px;
  color: #7b7b7b;
  vertical-align: top;
}

.wrapp-tarif__title {
  font-size: 36px;
  letter-spacing: -0.06em;
  color: #676767;
  margin: 0px 0px 40px 0px;
}

.tabs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 352px 0px;
}

.tabs-block__nav {
  width: 100%;
  max-width: 378px;
}

.tabs-block__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  width: 100%;
  max-width: 378px;
  padding: 35px 45px;
  border: 1px solid #e2e2e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 32px;
  color: #f0f0f0;
  margin-bottom: 16px;
}

.tabs-block__item span {
  font-size: 32px;
  color: #cacaca;
}

.tabs-block__item._active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ffffff;
  -webkit-box-shadow: 0px 16px 54px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 16px 54px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.tabs-block__item._active span {
  font-size: 32px;
  color: #afda5a;
}

.tabs-block__content {
  width: 100%;
  margin: 0px 0px 0px 35px;
}

.tabs-block__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-block__terms-column {
  background: #ffffff;
  width: 100%;
  max-width: 369px;
  margin: 0px 32px 0px 0px;
}

.terms-column {
  padding: 24px;
  max-height: 480px;
}

.terms-column__gold-title {
  font-size: 24px;
  color: #afda5a;
  margin: 0px 0px 16px 0px;
}

.terms-column__label {
  font-size: 14px;
  color: #a6a49d;
  margin: 0px 0px 5px 0px;
}

.terms-column__text {
  font-size: 18px;
  color: #2b2b32;
  margin: 0px 0px 22px 0px;
}

.procent-column {
  width: 100%;
  max-width: 370px;
}

.procent-column__partner-item {
  padding: 24px;
  background: #ffffff;
  width: 100%;
  margin: 0px 0px 32px 0px;
  max-height: 201px;
}

.procent-column__comission-item {
  padding: 24px;
  background: #ffffff;
  width: 100%;
  margin: 0px 0px 32px 0px;
  max-height: 135px;
}

.wrapp-bottom {
  position: relative;
}

.wrapp-bottom__box {
  position: relative;
  z-index: 10;
}

.wrapp-bottom__title {
  font-size: 64px;
  letter-spacing: -0.05em;
  margin: 0px 0px 22px 0px;
  max-width: 520px;
}

.wrapp-bottom__title span {
  color: #afda5a;
}

.wrapp-bottom__under-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 31px 0px;
}

.wrapp-bottom__left-gold {
  margin: 0px 15px 0px 0px;
  font-size: 36px;
  color: #afda5a;
}

.wrapp-bottom__right-logo {
  padding: 16px;
  border: 1px solid #f2f2f2;
  font-size: 24px;
  color: #505050;
}

.wrapp-bottom__right-logo span {
  background: url("../img/header/logo-img.svg") left no-repeat;
  padding: 0px 0px 0px 35px;
}

.wrapp-bottom__button {
  max-width: 360px;
}

.wrapp-bottom__pic {
  position: absolute;
  top: -185px;
  right: -200px;
}

.wrapp-bottom__pic img {
  width: 100%;
  height: 100%;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1192px) {
  ._container {
    max-width: 970px;
  }

  .header__logo_modal {
    padding: 0px 0px 20px 0px;
  }

  .header__logo_modal2 {
    padding: 0px 0px 20px 0px;
  }

  .sec1__main-pic {
    top: 144px;
    right: -887px;
  }

  .sec1__main-pic img {
    width: 80%;
  }

  .sec2__wrapp-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sec2__emblem {
    margin: 0px 35px 20px 0px;
  }

  .statistic-sec2 {
    margin: 0px 0px 20px 0px;
  }

  .procent-column__partner-item {
    max-height: 220px;
  }

  .wrapp-bottom__pic {
    top: -92px;
    right: -319px;
  }

  .wrapp-bottom__pic img {
    width: 70%;
  }
}

@media (max-width: 1190px) {
  .header__logo {
    margin: 0px 20px 0px 0px;
  }

  .header__logo-link {
    font-size: 20px;
  }

  .header__enter-button {
    font-size: 14px;
    padding: 7px 12px 7px 10px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .sec1__main-pic {
    top: 156px;
    right: -1055px;
  }

  .tabs-block__wrapp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tabs-block__terms-column {
    margin: 0px 0px 20px 0px;
  }

  .wrapp-bottom__pic {
    top: 26px;
    right: -543px;
  }

  .wrapp-bottom__pic img {
    width: 60%;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .sec1__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0px 10px 0px;
  }

  .sec1__near-title {
    position: relative;
    top: 10px;
    left: 0;
  }

  .sec1__main-pic {
    position: relative;
    top: 0;
    right: -250px;
  }

  .sec2 {
    padding: 30px 0px 0px 0px;
  }

  .sec2__wrapp-about {
    margin: 0px 0px 30px 0px;
  }

  .private-info__foto {
    position: relative;
    left: 0;
  }

  .private-info__info-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }

  .wrapp-tarif__title {
    text-align: center;
  }

  .tabs-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 30px 0px;
  }

  .tabs-block__content {
    margin: 0px 0px 0px 0px;
  }

  .wrapp-bottom__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapp-bottom__title {
    text-align: center;
    font-size: 56px;
  }

  .wrapp-bottom__title br {
    display: none;
  }

  .wrapp-bottom__pic {
    position: relative;
    top: 0;
    right: -60px;
  }

  .wrapp-bottom__pic img {
    width: 80%;
  }
}

@media (max-width: 565px) {
  .header__enter-button {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .wrapp-bottom__under-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapp-bottom__left-gold {
    margin: 0px 0px 10px 0px;
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .sec1__near-title {
    font-size: 16px;
  }

  .sec1__invest-btn {
    font-size: 14px;
    padding: 10px 0px;
  }

  .sec1__tarif-btn {
    font-size: 14px;
    padding: 10px 0px;
  }

  .big-title {
    font-size: 60px;
  }
}

@media (max-width: 479.98px) {
  .header__logo-link {
    font-size: 18px;
  }

  .sec1__wrapp {
    padding: 0px 10px;
  }

  .sec1__button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sec1__invest-btn {
    margin: 0px 0px 20px 0px;
  }

  .private-info__info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .wrapp-bottom__title {
    font-size: 44px;
  }
}